<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>SOS | Grade</title>
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"/>
  <link rel="stylesheet" th:href="@{/adminlte/plugins/fontawesome-free/css/all.min.css}"/>
  <link rel="stylesheet"
        href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"/>
  <link rel="stylesheet" th:href="@{/adminlte/dist/css/adminlte.min.css}"/>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <div th:replace="~{header.html :: header}"></div>
  <div th:replace="~{menu.html :: menu}"></div>
  <div class="content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Grades</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Grades</li>
            </ol>
          </div>
        </div>
      </div>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">My grades</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
          <table class="table table-striped" th:if="${grades.size() > 0}">
            <thead>
            <tr>
              <th style="width: 10px">#</th>
              <th>Subject</th>
              <th>Teacher</th>
              <th style="width: 40px">Grade</th>
              <th>Comment</th>
              <th th:width="100px"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="grade, iStat : ${grades}">
              <td th:text="${iStat.index + 1 + (currentPage * 5)}"></td>
              <td th:text="${grade.subjectName}"></td>
              <td th:text="${grade.teacher.fullName}"></td>
              <td th:text="${grade.score}"></td>
              <td th:text="${#strings.abbreviate(grade.comments, 50)}"></td>
              <td class="project-actions text-right">
                <a class="btn btn-primary btn-sm" th:href="@{'/student/grades/' + ${grade.id}}">
                  <i class="fas fa-folder">
                  </i>
                  View
                </a>
              </td>
            </tr>
            </tbody>
          </table>
          <div class="text-center p-3" th:if="${grades.size() == 0}">
            <h4>No grades available</h4>
          </div>
        </div>
        <div class="card-footer clearfix" th:if="${totalPages > 0}">
          <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item" th:classappend="${currentPage == 0 ? 'disabled' : ''}">
              <a class="page-link" th:href="@{/student/grades(page=${currentPage - 1})}">&laquo;</a>
            </li>
            <li class="page-item" th:each="pageNumber : ${pageNumbers}"
                th:classappend="${pageNumber == currentPage ? 'active' : ''}">
              <a class="page-link" th:href="@{/student/grades(page=${pageNumber})}"
                 th:text="${pageNumber + 1}"></a>
            </li>
            <li class="page-item" th:classappend="${currentPage == totalPages - 1 ? 'disabled' : ''}">
              <a class="page-link" th:href="@{/student/grades(page=${currentPage + 1})}">&raquo;</a>
            </li>
          </ul>
        </div>
        <!-- /.card-body -->
      </div>
    </section>
  </div>
  <div th:replace="~{footer.html :: footer}"></div>
</div>
</body>
<th:block th:insert="~{script::content}">&nbsp;</th:block>
</html>
