<html xmlns:th="http://www.thymeleaf.org" lang="en">
<th:block th:fragment="content">
    <script th:src="@{/adminlte/plugins/jquery/jquery.min.js}"></script>
    <script th:src="@{/adminlte/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/adminlte/dist/js/adminlte.min.js}"></script>
    <script th:src="@{/adminlte/plugins/chart.js/Chart.min.js}"></script>
    <script th:src="@{/adminlte/dist/js/pages/dashboard3.js}"></script>
    <script th:src="@{/adminlte/plugins/jquery-ui/jquery-ui.min.js}"></script>
    <script th:src="@{/adminlte/plugins/moment/moment.min.js}"></script>
    <script th:src="@{/adminlte/plugins/fullcalendar/main.js}"></script>
    <script th:src="@{/adminlte/cal.js}"></script>
</th:block>
</html>
